{% extends 'layout.html' %}

{% block head %}

<style type="text/css">
</style>

{% endblock %}

{% block body %}

<div class="container-fluid">

	<h1 class="my-4">
		<span class="animated-underline">Dashboard</span>
	</h1>

	<div class="row">
		<div class="col-sm-4">

			<div class="card shadow my-4">
				<div class="card-body">
					<form id="form">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="data_inicial">Data Inicial</label>
									<input id="data_inicial" name="data_inicial" class="form-control" type="date" value="{{ data_inicial }}" />
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="data_final">Data Final</label>
									<input id="data_final" name="data_final" class="form-control" type="date" value="{{ data_final }}" />
								</div>
							</div>
						</div>

						<button type="submit" class="btn btn-primary">Analisar</button>
					</form>
				</div>
			</div>

		</div>
	</div>


	<div class="card shadow my-4">
		<div class="card-body">
			<div id="div-grafico-passagem">
				<div class="text-center">
					Por favor, aguarde...
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="modal-relatorio-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Relatório do Gráfico</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div style="text-align:center">
					
					<h2>Visualização do gráfico: Passagem</h2>

					<img src="/static/img/Passagem.png" class="ft">

					<p style="font-weight:bold">A análise dos dados de tráfego mostra padrões claros de movimentação na sala monitorada:</p>
					<p>
						🟩 Decisões práticas recomendadas
						<br>🧹 Agendamento de limpeza/manutenção:
						Programar para o horário das 04h às 06h, período com movimentação zero registrada nos dias.<br>

						<br>🔌 Otimização de energia e climatização:<br>
						Ligar o sistema de iluminação e ar-condicionado apenas a partir das 07h, com desligamento a partir das 18h.<br>

						<br>📅 Melhor horário para reuniões ou treinamentos:<br>
						Evitar agendamentos entre 11h e 14h, faixa de maior fluxo de entrada e saída.<br>

					</p>
					
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
			</div>
		</div>
	</div>

	<div style="text-align:center">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-relatorio-1">Gerar Relatório</button>
	</div>

		<div class="card shadow my-4">
		<div class="card-body">
			<div id="div-grafico-temperatura">
				<div class="text-center">
					Por favor, aguarde...
				</div>
			</div>
		</div>
	</div>

	<div style="text-align:center">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-relatorio-1">Gerar Relatório</button>
	</div>

	<div class="card shadow my-4">
		<div class="card-body">
			<div id="div-grafico-creative">
				<div class="text-center">
					Por favor, aguarde...
				</div>
			</div>
		</div>
	</div>

	<div style="text-align:center">
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal-relatorio-1">Gerar Relatório</button>
	</div>
	
</div>

<script src="/static/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/static/js/jquery-validate/additional-methods.min.js"></script>
<script src="/static/js/jquery-validate/localization/messages_pt_BR.min.js"></script>
<script type="text/javascript" src="/static/js/chart.js/chart.min.js"></script>

<script type="text/javascript">
	"use strict";

	let primeiraVez = true;

	$("#form").validate({
		rules: {
			data_inicial: {
				required: true
			},
			data_final: {
				required: true
			}
		},
		submitHandler: function () {
			atualizarDados();
		}
	});

	function atualizarTemperatura(dados) {
		let div = document.getElementById("div-grafico-temperatura");
		div.innerHTML = '<canvas id="grafico-temperatura" style="height: 30vh;"></canvas>';

		let labels = [], data = [];

		for (let i = 0; i < dados.length; i++) {
			labels.push(dados[i].dia + " " + dados[i].hora + ":00");
			data.push(dados[i].temperatura);
		}

		let grafico = new Chart(document.getElementById("grafico-temperatura"), {
			type: "line",
			data: {
				labels: labels,
				datasets: [{
					label: "Temperatura (°C)",
					backgroundColor: "#007bff",
					hoverBackgroundColor: "#56a7ff",
					borderColor: "#007bff",
					data: data,
				}],
			},
			options: {
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 25,
						top: 25,
						bottom: 0
					}
				},
				scales: {
					x: {
						gridLines: {
							display: false,
							drawBorder: false
						},
						ticks: {
							maxTicksLimit: 10
						},
						maxBarThickness: 25,
					},
					y: {
						//display: false,
						ticks: {
							min: 0,
							max: 10,
							maxTicksLimit: 10,
							padding: 10
						},
						gridLines: {
							color: "rgb(234, 236, 244)",
							zeroLineColor: "rgb(234, 236, 244)",
							drawBorder: false,
							borderDash: [2],
							zeroLineBorderDash: [2]
						}
					},
				},
				legend: {
					display: false
				},
				tooltips: {
					titleMarginBottom: 10,
					titleFontColor: '#6e707e',
					titleFontSize: 14,
					backgroundColor: "rgb(255,255,255)",
					bodyFontColor: "#858796",
					borderColor: '#dddfeb',
					borderWidth: 1,
					xPadding: 15,
					yPadding: 15,
					displayColors: false,
					caretPadding: 10
				},
			}
		});
	}

	function atualizarPassagem(dados) {
		let div = document.getElementById("div-grafico-passagem");
		div.innerHTML = '<canvas id="grafico-passagem" style="height: 30vh;"></canvas>';

		let labels = [], dataEntrada = [], dataSaida = [];

		for (let i = 0; i < dados.length; i++) {
			labels.push(dados[i].dia + " " + dados[i].hora + ":00");
			dataEntrada.push(dados[i].entrada);
			dataSaida.push(dados[i].saida);
		}

		let grafico = new Chart(document.getElementById("grafico-passagem"), {
			type: "bar",
			data: {
				labels: labels,
				datasets: [{
					label: "Entrada",
					backgroundColor: "#007bff",
					hoverBackgroundColor: "#56a7ff",
					borderColor: "#007bff",
					data: dataEntrada,
				},
				{
					label: "Saída",
					backgroundColor: "#444444",
					hoverBackgroundColor: "#888888",
					borderColor: "#444444",
					data: dataSaida,
				}],
			},
			options: {
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 25,
						top: 25,
						bottom: 0
					}
				},
				scales: {
					x: {
						gridLines: {
							display: false,
							drawBorder: false
						},
						ticks: {
							maxTicksLimit: 10
						},
						maxBarThickness: 25,
					},
					y: {
						//display: false,
						ticks: {
							min: 0,
							max: 10,
							maxTicksLimit: 10,
							padding: 10
						},
						gridLines: {
							color: "rgb(234, 236, 244)",
							zeroLineColor: "rgb(234, 236, 244)",
							drawBorder: false,
							borderDash: [2],
							zeroLineBorderDash: [2]
						}
					},
				},
				legend: {
					display: false
				},
				tooltips: {
					titleMarginBottom: 10,
					titleFontColor: '#6e707e',
					titleFontSize: 14,
					backgroundColor: "rgb(255,255,255)",
					bodyFontColor: "#858796",
					borderColor: '#dddfeb',
					borderWidth: 1,
					xPadding: 15,
					yPadding: 15,
					displayColors: false,
					caretPadding: 10
				},
			}
		});
	}

	function atualizarCreative(dados) {
		let div = document.getElementById("div-grafico-creative");
		div.innerHTML = '<canvas id="grafico-creative" style="height: 30vh;"></canvas>';

		let labels = [], dataLuminosidade = [], dataUmidade = [], dataRuido = [];

		for (let i = 0; i < dados.length; i++) {
			labels.push(dados[i].dia + " " + dados[i].hora + ":00");
			dataLuminosidade.push(dados[i].luminosidade);
			dataUmidade.push(dados[i].umidade);
			dataRuido.push(dados[i].ruido);
		}

		let grafico = new Chart(document.getElementById("grafico-creative"), {
			type: "bar",
			data: {
				labels: labels,
				datasets: [{
					label: "Luminosidade (lux)",
					backgroundColor: "#007bff",
					hoverBackgroundColor: "#56a7ff",
					borderColor: "#007bff",
					data: dataLuminosidade,
				},
				{
					label: "Umidade (% RH)",
					backgroundColor: "#444444",
					hoverBackgroundColor: "#888888",
					borderColor: "#444444",
					data: dataUmidade,
				},
				{
					label: "Ruído (dB)",
					backgroundColor: "#888888",
					hoverBackgroundColor: "#aaaaaa",
					borderColor: "#888888",
					data: dataRuido,
				}],
			},
			options: {
				maintainAspectRatio: false,
				layout: {
					padding: {
						left: 10,
						right: 25,
						top: 25,
						bottom: 0
					}
				},
				scales: {
					x: {
						gridLines: {
							display: false,
							drawBorder: false
						},
						ticks: {
							maxTicksLimit: 10
						},
						maxBarThickness: 25,
					},
					y: {
						//display: false,
						ticks: {
							min: 0,
							max: 10,
							maxTicksLimit: 10,
							padding: 10
						},
						gridLines: {
							color: "rgb(234, 236, 244)",
							zeroLineColor: "rgb(234, 236, 244)",
							drawBorder: false,
							borderDash: [2],
							zeroLineBorderDash: [2]
						}
					},
				},
				legend: {
					display: false
				},
				tooltips: {
					titleMarginBottom: 10,
					titleFontColor: '#6e707e',
					titleFontSize: 14,
					backgroundColor: "rgb(255,255,255)",
					bodyFontColor: "#858796",
					borderColor: '#dddfeb',
					borderWidth: 1,
					xPadding: 15,
					yPadding: 15,
					displayColors: false,
					caretPadding: 10
				},
			}
		});
	}

	async function atualizarDados() {
		waitSwal();

		try {

			let response = await fetch("/obterDados?data_inicial=" + $("#data_inicial").val() + "&data_final=" + $("#data_final").val());

			if (response.ok) {

				Swal.close();

				let dados = await response.json();
				if (!dados || !dados.temperatura || !dados.passagem) {
					Swal.fire("Erro", "Sem dados na data especificada!", "error");
					return;
				}

				atualizarCreative(dados.creative);
				atualizarTemperatura(dados.temperatura);
				atualizarPassagem(dados.passagem);

			} else {
				await exibirErro(response);
			}

		} catch (ex) {
			Swal.fire("Erro", "Erro ao listar os dados: " + ex.message, "error");
		}

		if (primeiraVez) {
			primeiraVez = false;
			setTimeout(() => {
				const animacoes = document.querySelectorAll(".animated-underline");
				if (animacoes && animacoes.length > 0) {
					for (let animacao of animacoes) {
						animacao.classList.add("active");
					}
				}
			}, 500);
		}
	}

	atualizarDados();

</script>

{% endblock %}
