{% extends 'layout.html' %}

{% block body %}

<div class="vaga animate__animated animate__fadeIn">
	<div class="container-fluid">
		<img src=""/>
		</div>
	</div>
</div>


<div style="padding-top:40px"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 flex-column justify-content-center">
			<div data-aos="fade-right">
				<h1 style="margin-top:30px;margin-left:8px" class="titulo1">
					Quem Somos
				</h1>
				<p style="text-align:center;margin-left:^^8px">
					Na Panel, transformamos dados em decisões inteligentes. 
					Somos uma empresa SaaS especializada em fornecer insights 
					estratégicos sobre ambientes empresariais por meio de dashboards 
					interativos e inteligentes.
				</p>
			</div>
		</div>
		<div class="col-lg-6 flex-column justify-content-center">
			<img src="/public/img/">
		</div>
	</div>
</div>

<div style="padding-top:30px"></div>

<div class="container-fluid">
	<div class="fundoValores">
		<div class="row">
			<div class="col-lg-6 flex-column justify-content-center">
				<img style="border-radius: 20px;" src="/public/img/emg-home-1.jpg">
			</div>
			<div class="col-lg-6 flex-column justify-content-center">
				<div data-aos="fade-up-right">
					<h1 style="padding-top:70px; margin-right: 20px" class="titulo1">
						Como Podemos Mudar Seu Treino e o Mundo
					</h1>
					<p class="descValores" style="margin-right: 20px">
						Acreditamos no poder da superação pessoal, no cuidado com o corpo e na inovação. 
						Nossa missão é transformar a forma como as pessoas encaram o treino e o bem-estar. 
						Oferecemos soluções que impactam sua saúde, autoestima e o meio ambiente. 
						Com práticas sustentáveis e foco no ser humano, acreditamos que pequenos passos trazem grandes mudanças. 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="padding:15px;"></div>

<div class="pessoas">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 Parte">
				<div data-aos="zoom-in-up">
					<img class="FotoP" src="/public/img/JoaoPP.jpg">
					<h2>
						Isabella Soares
					</h2>
					<p>
						Responsável por criar interfaces criativas, intuitivas e funcionais para uma experiência agradável do usuário. <!--Desde o início da minha jornada acadêmica, tenho me dedicado ao estudo de sistemas computacionais, análise de dados e gestão de projetos de TI. Minha curiosidade incessante me impulsiona a explorar novas tecnologias e abordagens inovadoras, sempre buscando maneiras de aplicar meu conhecimento em soluções práticas e impactantes. Estou determinado a contribuir para o desenvolvimento de soluções eficientes e sustentáveis no campo da tecnologia da informação. -->
					</p>
					<a href="https://www.linkedin.com/in/joaohelbel/" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/link.svg" />
					</a>
					<a href="https://github.com/joaohelbel" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/git.svg" />
					</a>
				</div>
			</div>
			<div class="col-md-4 Parte">
				<div data-aos="zoom-in-up">
					<img class="FotoP" src="/public/img/MarcioPP.jpg">
					<h2>
						Márcio Alexandroni
					</h2>
					<p>
						Programador Full Stack e entusiasta em negócios. Atuo no desenvolvimento Back, Front e nas estratégias do Projeto. <!--Desde o início da minha jornada acadêmica, mergulhei de cabeça no mundo da programação e do desenvolvimento de software, sempre em busca de novos conhecimentos e experiências. Minha vontade pelo aprender me levou a explorar diversas áreas da computação, desde inteligência artificial até segurança cibernética, e estou constantemente buscando oportunidades para aplicar meu aprendizado em projetos práticos e colaborativos. Estou determinado a contribuir para o avanço da tecnologia e fazer uma diferença positiva na sociedade através do meu trabalho.-->				
					</p>
					<a href="https://www.linkedin.com/in/márcio-alexandroni-033a27287/" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/link.svg" />
					</a>
					<a href="https://github.com/Marcio-Alexandroni" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/git.svg" />
					</a>
				</div>
			</div>
			<div class="col-md-4 Parte">
				<div data-aos="zoom-in-up">
					<img class="FotoP" src="/public/img/PauloPP.jpg">
					<h2>
						Paulo César
					</h2>
					<p>
						Atuo como arquiteto de dados com paixão pela interseção entre tecnologia e negócios. Vou estruturar a arquitetura de dados e apoiar na estratégia do projeto.<!--Desde o início da minha jornada acadêmica, tenho me dedicado ao estudo de sistemas computacionais, análise de dados e gestão de projetos de TI. Minha curiosidade incessante me impulsiona a explorar novas tecnologias e abordagens inovadoras, sempre buscando maneiras de aplicar meu conhecimento em soluções práticas e impactantes. Estou determinado a contribuir para o desenvolvimento de soluções eficientes e sustentáveis no campo da tecnologia da informação. -->
					</p>
					<a href="https://www.linkedin.com/in/paulo-cesar-junior-648223243/" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/link.svg" />
					</a>
					<a href="https://github.com/impauloc" target="_blank class="Max">
						<img width="30" height="35" src="/public/img/git.svg" />
					</a>
				</div>
			</div>
		</div>
	</div>

</div>

<div style="padding:20px"></div>



<%- contentFor("espaco-head") %>

<style>

	body{
		font-family: poppins;
	}



	.my-element {
		display: inline-block;
		margin: 0 0.5rem;
	  
		animation: bounce; /* referring directly to the animation's @keyframe declaration */
		animation-duration: 2s; /* don't forget to set a duration! */
	  }


/* This only changes this particular animation duration */
.animate__animated.animate__fadeIn {
	--animate-duration: 1.5s;
  }
.animate__animated.animate__fadeInDown {
	--animate-duration: 1.5s;
}
  
  /* This changes all the animations globally */
  :root {
	--animate-duration: 800ms;
	--animate-delay: 0.9s;
  }

	.redonda {
		border-radius: 20px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	}

	.inicio {
		padding: 30px;
		margin: 10px;
		max-width: 400px;
		background-color: rgba(162, 162, 162, 0.396);
		border-radius: 20px;
		border-color: black;
		border-style: solid;
	}

	.titulo1 {
		text-align: center;
		font-weight: bold;
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.tituloTopo{
		font-weight: bold;
		max-width: 400px;
		text-align: center;
		color: black;
	}

	.desc1 {
		text-align: center;
		font-size: 18px;
		max-width: 360px;
		margin: 0px;
		color: rgb(10, 10, 10);
	}

	.descValores{
		margin-right: 10px;
		text-align: center;
	}

	.fundoValores{
		background-color: rgba(223, 220, 216, 0.399);
		border-radius: 20px;
	}

	.vaga {
		margin: 0;
		padding: 120px 30px;
		background-image: url(/public/img/FundoSobre.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top:solid;
		border-bottom:solid;
        border-color: rgba(0, 0, 0, 0.351);
		border-bottom-left-radius: 18px;
		border-bottom-right-radius: 18px;
	}

	.Max {
		vertical-align: bottom;
		display: inline-block;
		margin: 0 auto auto 10px;
	}

	.Max img {
		vertical-align: bottom;
		filter: drop-shadow(0.5px 0.5px 0.5px 0.5px black);
	}

	.FotoP {
		max-width: 200px;
		max-height: 150px;
		height: auto;
		border-radius: 999px;
		box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.578);
		margin: 30px auto 30px 20px;
		border-style: solid;
		border-width: 1px;
		border-color: rgb(97, 97, 97);
	}

	.Parte {
		padding: 20px;
		text-align: center;
	}

	.pessoas {
		color: black;
		padding: 50px 0;
	}

</style>

<%- contentFor("espaco-rodape") %>
<script src="/public/js/wow.min.js"></script>
<script>
new WOW().init();
</script>
<script>
	AOS.init();
  </script>


{% endblock %}
